#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body {
  margin: 0;
  font-family: 'Cascadia Code', serif;
}

* {
  box-sizing: border-box;
}
.warning {
  background: rgb(235, 207, 85);
  color: white;
}
.success {
  background: rgb(57, 211, 57);
  color: white;
}
.info {
  background: rgb(68, 68, 228);
  color: white;
}
.danger {
  background: rgb(163, 15, 15);
  color: white;
}
